<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @admin.new_record? %>
  <div class="field">
    <%= f.label :login_name %><br />
    <%= f.text_field :login_name %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :plain_password %><br />
    <%= f.password_field :plain_password %>
		<% if !@admin.new_record? %> leave it blank if you don't want to change the password <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
